.res{
    border: solid 2px blue;
    width: 30%;
    background-color: aquamarine;
    margin-top: 10px;
}
#res1{
    border: solid 2px blue;
    width: 30%;
    background-color: aquamarine;
    margin-top: 10px;
}
#res2{
    border: solid 2px blue;
    width: 30%;
    background-color: aquamarine;
    margin-top: 10px;
}
#res3{
    border: solid 2px blue;
    width: 30%;
    background-color: aquamarine;
    margin-top: 10px;
}
body{
    background-color: blanchedalmond;
}
#aparecer{
    display: none;
}
